*{
  cursor: auto;
}

html, body{
  cursor: auto;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  .arrependimento{
    display: none;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
